<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IdBase" value="Hexatrigesimal"/>
    <add key="StartFrom" value="1296"/>
    <add key="IdLengthMax" value="5"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>